.cookie_banner {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: #9fc088;
  color: E8C07D;
  padding-left: 10px;
  padding-right: 10px;
}

.banner_text {
  flex: 1;
}
