.folder_structure ul {
  margin: 0;
  list-style-type: none;
}

.folder_structure li {
  position: relative;
  padding: 1rem 0rem 0rem 0rem;
}

.folder_structure li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  border-left: 1px solid rgba(166, 25, 25, 0.3);
  /* padding: 1rem 0 0 0; */
  transform: translate(-2rem, 0);
}

.folder_structure li::after {
  position: absolute;
  content: '';
  top: 1rem;
  left: 0;
  border-bottom: 1px solid blue;
  width: 2rem;
  transform: translate(-100%, 0);
}

.folder_structure li:last-child::before {
  height: 1.5rem;
}
